/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Overpass:wght@100;200;300;400&display=swap");
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
html {
  background: linear-gradient(25deg, #48355b 0%, #91bef3 100%);
  height: 100%;
  width: 100%;
}
h1,
button,
p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 120%;
  color: #ffffff;
  text-shadow: -1.61px 2.26px 0.75px rgba(0, 0, 0, 0.1);
}
